* {
  margin: 0;
  padding: 0;
}

/* ------ HEADER ------ */

h1 {
  color: blue;
  padding: 1em;
  text-align: center;
}
h3 {
  background-color: #fff;
  color: red;
  display: flex;
  padding: 20px;
  text-align: right;
}

h2 {
  color: red;
  border-top: 1em;
  text-align: center;
}

p {
  font-style: italic;
  font-weight: 600;
  font-size: 3em;
  color: tomato;
}
img {
  max-height: 300px;
  max-width: 300px;
  border: 2px solid tomato;
  border-style:inset;
}
img:hover{
  filter:grayscale(0.5);
}
.gallery {
  position: relative;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
